*{
    padding: 0;
    margin:0;
    background-color: hsl(257, 40%, 49%);
    background-image: url("images/bg-desktop.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');


.Logo{
    margin-top: 5%;
    margin-left: 5%;
    width:13%;
    background: none;
}

.img{
    float: left;
    background: none;
    position: center;
    width: 42%;

    color: white;
    margin-left: 6%;
    margin-top: 5%;
}
.titulo{
    float: left;
    background: none;
    margin-top: 8%;
    margin-left: 5%;
    width: 30%;
    color: white;
    font-family: 'Oleo Script', cursive;
    
}

.text{
    float: left;
    background: none;
    margin-top: 2%;
    margin-left: 5%;
    width: 40%;
    text-align: justify;
    text-size-adjust: 10%;
    color: white;
    font-size:18px;
    font-family: 'Oleo Script', cursive;
}

.button{
    float: left;
    margin-top: 2%;
    margin-left: 15%;
    width: 15%;
    height: 50px;
    border: none;
    background: hsl(300, 69%, 71%);
    border-radius: 52px;
    color: white;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Oleo Script', cursive;
}

.button:hover{
    box-shadow: 2px 2px 16px hsl(0, 2%, 11%);;
}

footer{
    float: left;
    margin-top: 5%;
    width: 20%;
    color: white;
    margin-left: 400px;
    align-items: flex-end;
    font-size: 30px;
}

ion-icon{
    margin:10px;
    background: none;
}

ion-icon:hover{
    color: rgb(179, 37, 120);
}